@{
    ViewData["Title"] = "Home Page";
    string title = "Welcome";
    var description = "Is the EZ-Shop App";
}

<div class="text-center">
    <h1 class="display-4">@title</h1>
    <p>@description</p>
</div>
